//welcome scss
@use 'welcome';

// Variables
@use 'variables';

// Bootstrap
@use 'node_modules/bootstrap/scss/bootstrap' as *;






body {
    background-color: white;
    color:black;
}

header {
    margin-bottom: 20px;
}

footer {
    background-color: white;
    padding: 10px 0;
}
